# Source: https://github.com/github/gitignore/blob/4488915eec0b3a45b5c63ead28f286819c0917de/Rails.gitignore

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

## Environment normalization:
/.bundle
/vendor/bundle
